@font-face {
    font-family: 'BTBrikRegular';
        src: url('https://imgscri.be/generators/headergenerator/font/BTBrikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
